.link-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.link-button-group {
    flex: 1 0 280px;
    max-width: 280px;
    margin-bottom: 15px;
}

.link-button-group h5 {
    font-size: 1em;
    font-variant: small-caps;
}

.link-button-group button {
    width: 100%;
    display: flex;
    padding: 5px;
    margin: 5px 0;
    background-color: #f7f7f7;
    /* border: 1px solid #686868; */
    font-size: 1.0em;
    line-height: 1.5em;
    color: #8a8a8a;
}

.link-button-group button .icon {
    height: 25px;
    width: 25px;
    display: inline-block;
    margin: 0 5px 0 20%;
}

.link-button-group button.xbox .icon {
    background: url(/images/icon-xbox.png);
    background-size: contain;
}
.link-button-group button.psn .icon {
    background: url(/images/icon-psn.png);
    background-size: contain;
}
.link-button-group button.bnet .icon {
    background: url(/images/icon-bnet.png);
    background-size: contain;
}
.link-button-group button.twitch .icon {
    background: url(/images/icon-twitch.png);
    background-size: contain;
}
.link-button-group button.mixer .icon {
    background: url(/images/icon-mixer.png);
    background-size: contain;
}
.link-button-group button.youtube .icon {
    background: url(/images/icon-youtube.png);
    background-size: contain;
}
.link-button-group button.twitter .icon {
    background: url(/images/icon-twitter.png);
    background-size: contain;
}
.link-button-group button.instagram .icon {
    background: url(/images/icon-instagram.png);
    background-size: contain;
}