.member-edit-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
.member-edit-form-section {
    flex: 1 0 280px;
    padding: 5px;
    max-width: 280px;
}
.member-edit-form-section .helper-text {
    font-size: small;
    color: #7c7c7c;
}
.member-edit-form-section h3 {
    font-size: 1em;
    font-variant: small-caps;
}

.member-edit-form-actions {
    width: 100%;

    text-align: right;
}

.member-edit-form-actions button {
    width: 50px;
}
.member-edit-form .field{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background: #f7f7f7;
    padding: 0; /* 7px 5px; */
    font-variant-caps: small-caps;
    border-radius: 5px;
    margin: 5px 0;
    border: 1px solid #c2c2c2;
}

.member-edit-form .field label {
    flex: 1 0 85px;
    padding: 0 5px;
    margin: 0;
    color: black;
    text-align: right;

}

.member-edit-form .field label img {
    max-width: 25px;
}

.member-edit-form .field input {
    padding: 5px 5px;
    margin: 0;
    width: 100%;
    border: 0;
    border-left: 1px solid #c2c2c2;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.member-edit-form .field input::placeholder {
    opacity: 0.3;
} 

/* Xbox */
.member-edit-form-section .field.xbl {
    border: 1px solid #107c10;
}
.member-edit-form-section .field.xbl input {
    border-left: 1px solid #107c10;
}

/* PSN */
.member-edit-form-section .field.psn {
    border: 1px solid #003791;
}
.member-edit-form-section .field.psn input {
    border-left: 1px solid #003791;
}

/* Battle.net */
.member-edit-form-section .field.bnet {
    border: 1px solid #00B6EF;
}
.member-edit-form-section .field.bnet input {
    border-left: 1px solid #00B6EF;
}

/* Twitch */
.member-edit-form-section .field.twitch {
    border: 1px solid #6441A4 ;
}
.member-edit-form-section .field.twitch input {
    border-left: 1px solid #6441A4 ;
}
/* Mixer */
.member-edit-form-section .field.mixer {
    border: 1px solid #1FBAED ;
}
.member-edit-form-section .field.mixer input {
    border-left: 1px solid #1FBAED ;
}

/* YouTube */
.member-edit-form-section .field.youtube {
    border: 1px solid #FF0000 ;
}
.member-edit-form-section .field.youtube input {
    border-left: 1px solid #FF0000 ;
}

/* Twitter */
.member-edit-form-section .field.twitter {
    border: 1px solid #1DA1F2;
}
.member-edit-form-section .field.twitter input {
    border-left: 1px solid #1DA1F2;
}

/* Instagram */
.member-edit-form-section .field.instagram {
    border: 1px solid #EE176A;
}
.member-edit-form-section .field.instagram input {
    border-left: 1px solid #EE176A;
}
